body {
  background: var(--primary);
  padding: 16px;
}

#header {
  width: 240px;
  position: absolute;
  top: 17%;
  left: calc(50% - 120px);
  display: inline;
  padding: 0px 20px;
  color: white;
  background: var(--primary);
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  z-index: 999;
  user-select: none;
}

.login {
  position: absolute;
  width: 50%;
  height: 380px;
  background: var(--primary);
  border: 3px solid var(--white);
  top: calc(50% - 190px);
  left: 25%;
  text-align: center;
  border-radius: 8px;
  transition: 0.3s all linear;
}

.login p {
  font-size: 24px;
  color: white;
  margin: 50px 0px;
}

.login input {
  position: relative;
}

.login span {
  position: relative;
  color: white;
}

#login {
  opacity: 1;
  transition: 0.2s all linear;
}

#register {
  position: relative;
  top: 15%;
  opacity: 0;
  display: none;
  transition: 0.2s all linear;
}

#register.show-form {
  display: block;
  opacity: 1;
}

#login-text b, #register-text b {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
  transition: 0.2s all ease;
  text-decoration: underline;
}

#login-text b {
  margin-left: 5px;
}

#login-text b:hover,  #register-text b:hover {
  color: white;
}

.authors {
  color: white;
  font-size: 24px;
  background: var(--primary-dark);
  border-radius: 50%;
  padding: 9px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 16px;
}

.tooltip {
    float: right;
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    top: 100%;
    left: 50%;
    margin-top: 5px;
    margin-left: -55px;
    padding: 5px 15px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    user-select: none;
    transition: 0.2s all linear;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}

#authors-div {
  position: relative;
  width: 70%;
  height: 500px;
  background: white;
  border-radius: 8px;
  top: calc(50% - 250px);
  left: 15%;
}
